{% if product.size_range ~ "-" ~ product.gender == '18-21-2' %}
    {#18-21 NIÑA#}
    <table class="series table table-bordered 18-21-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">18</th>
            <th class="text-center">19</th>
            <th class="text-center">20</th>
            <th class="text-center">21</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>4</td>
            <td>4</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '18-21-1' %}
    {#18-21 NIÑO#}
    <table class="series table table-bordered 18-21-1">
        <tr class="bg-light-blue-active">
            <th class="text-center">19</th>
            <th class="text-center">20</th>
            <th class="text-center">21</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>4</td>
            <td>6</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '22-26-2' %}
    {#18-21 NIÑA#}
    <table class="series table table-bordered 22-26-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">22</th>
            <th class="text-center">23</th>
            <th class="text-center">24</th>
            <th class="text-center">25</th>
            <th class="text-center">26</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '22-26-1' %}
    {#18-21 NIÑO#}
    <table class="series table table-bordered 22-26-1">
        <tr class="bg-light-blue-active">
            <th class="text-center">22</th>
            <th class="text-center">23</th>
            <th class="text-center">24</th>
            <th class="text-center">25</th>
            <th class="text-center">26</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '27-32-2' %}
    {#27-32 NIÑA#}
    <table class="series table table-bordered 27-32-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">27</th>
            <th class="text-center">28</th>
            <th class="text-center">29</th>
            <th class="text-center">30</th>
            <th class="text-center">31</th>
            <th class="text-center">32</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '27-32-1' %}
    {#27-32 NIÑO#}
    <table class="series table table-bordered 27-32-1">
        <tr class="bg-light-blue-active">
            <th class="text-center">30</th>
            <th class="text-center">31</th>
            <th class="text-center">32</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>4</td>
            <td>4</td>
            <td>4</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '33-36-2' %}
    {#33-36 NIÑA#}
    <table class="series table table-bordered 33-36-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">33</th>
            <th class="text-center">34</th>
            <th class="text-center">35</th>
            <th class="text-center">36</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>4</td>
            <td>4</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '33-36-1' %}
    {#33-36 NIÑO#}
    <table class="series table table-bordered 33-36-1">
        <tr class="bg-light-blue-active">
            <th class="text-center">33</th>
            <th class="text-center">34</th>
            <th class="text-center">35</th>
            <th class="text-center">36</th>
            <th class="text-center">37</th>
            <th class="text-center">38</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '33-37-1' or product.size_range ~ "-" ~ product.gender == '33-37-2' %}
    {#33-37#}
    <table class="series table table-bordered 33-37-1 33-37-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">33</th>
            <th class="text-center">34</th>
            <th class="text-center">35</th>
            <th class="text-center">36</th>
            <th class="text-center">37</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>2</td>
        </tr>
    </table>
{% elseif product.size_range ~ "-" ~ product.gender == '33-39-1' or product.size_range ~ "-" ~ product.gender == '33-39-2' %}
    {#33-39#}
    <table class="series table table-bordered 33-39-1 33-39-2">
        <tr class="bg-light-blue-active">
            <th class="text-center">33</th>
            <th class="text-center">34</th>
            <th class="text-center">35</th>
            <th class="text-center">36</th>
            <th class="text-center">37</th>
            <th class="text-center">38</th>
            <th class="text-center">39</th>
        </tr>
        <tr class="text-center bg-light-blue">
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
        </tr>
    </table>
{% endif %}

