{% spaceless %}
    <div class="modal modal-warning fade" id="modal-create-pdv">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
{% endspaceless %}