.dataTables_info,
.dataTables_filter,
.dataTables_length,
.dataTables_paginate {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

button.btn-margin-5 {
    margin: 0 5px 5px 0;
}

div.info-box-pdv select {
    color: white;
    font-size: 16px;
    width: 100%;
    background-color: #3c8dbc;
    border: 0px solid #3c8dbc;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

div.box-pdv > .box-body {
    /*max-height: 400px;*/
    /*overflow-y: scroll;*/
    /*min-height: 400px;*/
}

td.pdv:hover {
    background-color: #EBEBEB;
    cursor: pointer;
}