<table class="table table-bordered 18-21" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">18</th>
        <th class="text-center">19</th>
        <th class="text-center">20</th>
        <th class="text-center">21</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
    </tr>
</table>

<table class="table table-bordered 22-26" style="display: none">
    <tr class="bg-{{ action == 'create' ? 'green' : 'yellow' }}-active">
        <th class="text-center">22</th>
        <th class="text-center">23</th>
        <th class="text-center">24</th>
        <th class="text-center">25</th>
        <th class="text-center">26</th>
    </tr>
    <tr class="text-center">
        <td>2</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
    </tr>
</table>